<div class="container" >
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <img src="assets//prof_img1.png" style="width:100px; height:100px; margin-left:140px;"><br/><br/>
          <form class="form-signin" [formGroup]="loginForm">
            <div class="form-group">
              <label for="inputEmail" [ngClass]="{'required': checkField(loginForm.get('username')) }" style="font-size:20px">Email address *</label><i class="fa fa-user" aria-hidden="true"></i>
              <input type="email" [ngClass]="{'required': checkField(loginForm.get('username')) }" class="form-control rounded-3" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" formControlName="username">
            </div>
            <div class="form-group">
                <label for="inputPassword" [ngClass]="{'required': checkField(loginForm.get('password')) }" style="font-size:20px">Password *</label><i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" class="form-control rounded-3" [ngClass]="{'required': checkField(loginForm.get('password')) }" id="inputPassword" aria-describedby="passwordHelp" placeholder="Enter password" formControlName="password">
            </div>
            <p class="alert alert-danger" role="alert" *ngIf="error">
              <strong>There was an error!</strong><br>Please check your username/password and try again.
            </p><br/>
            
            <button id="submitButton" class="btn btn-lg btn-primary rounded btn-block text-uppercase" type="button" [disabled]="!loginForm.valid || processing" (click)="onSubmitButtonClicked()">{{ processing ? 'Validating...' : 'Sign in' }}</button>
            <br/><div class="form-group col text-center">
              <a routerLink="../forgot-password" class="btn btn-link pr-0">Forgot Password?</a>
          </div><br/></form>
        </div>
      </div>
    </div>
  </div>
</div>